
<html>
<head>
	<title>เพลงพระราชนิพนธ์</title>
</head>
<body background="http://www.lankaonlineradio.com/assets/img/BG/bg4.jpg">
<div align="right" style="color: white">

<a href="home" >home</a>
<a href="kingsong1"  >kingsong1</a>
<a href="kingsong2"  >kingsong2</a>
<a href="kingsong3"  >kingsong3</a>
</div>
<center>
	<h1 >รวมเพลงพระราชนิพนธ์</h1>
</center>	



<center><a  href="https://www.mangozero.com/48-royal-songs-from-bhumibol-adulyadej/">รวมเพลงพระราชนิพนธ์</a><br><br>
	
	<img src ="http://www.เรารักพระเจ้าอยู่หัว.com/content/images_upload/albums/20121217163628.jpg" width="500" height="400">
</body>
</html>